---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="mx-auto">
  <!-- Header Section -->
  <header class="text-center mb-20 mt-10">
    <h1 class="text-5xl font-bold text-[#FFB800] mb-6">Bienvenido a mi Blog</h1>
    <p class="text-neutral-300 text-[1.3rem] mx-auto">
      Un espacio dedicado al desarrollo web, buenas prácticas y más. Descubre
      artículos útiles, tutoriales y consejos para programadores de todos los
      niveles.
    </p>
  </header>

  <!-- Blog Posts -->
  {
    posts.length > 0 ? (
      <ul class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {posts.map((post) => (
          <li class="relative group flex flex-grow">
            {/* Card Content */}
            <div class="z-10 border border-neutral-700 rounded-lg overflow-hidden w-full transition-transform duration-700 ease-[cubic-bezier(0.4, 0, 0.2, 1)] group-hover:scale-105 group-hover:duration-300 will-change-transform">
              <a href={`/blog/${post.id}/`}>
                <div class="relative">
                  <img
                    src={post.data.heroImage}
                    alt={post.data.title}
                    class="w-full h-48 object-cover"
                  />
                </div>
                <div class="p-6">
                  <h4 class="text-[#FFE8AE] text-xl font-semibold mb-3 transition-colors duration-300 group-hover:text-[#FFB800]">
                    {post.data.title}
                  </h4>
                  <p class="text-gray-400 text-md line-clamp-2 mb-4">
                    {post.data.description}
                  </p>
                  <div class="flex items-center space-x-4 text-sm text-gray-500">
                    <span class="flex items-center space-x-1">
                      {/*  <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 text-[#FFB800]"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                        />
                      </svg> */}
                      <FormattedDate date={post.data.pubDate} />
                    </span>
                    {/* <span class="flex items-center space-x-1">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4 text-[#FFB800]"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                        />
                      </svg>
                      <span>{post.data.author}</span>
                    </span> */}
                  </div>
                </div>
              </a>
            </div>
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-center text-gray-400 text-xl">
        No hay publicaciones disponibles.
      </p>
    )
  }
</section>
